/* 

Moonlight Template 

https://templatemo.com/tm-512-moonlight

*/

/* estilos modal videos */
.modal-content {
	background-color: #000000; /* Fondo negro */
}

.custom-modal .close {
	margin-bottom: 1px;
	color: #fff; /* Color de la "x" blanca */
	margin-top: -2rem;
}

#videoModalLabel{
	color: #fff; /* Color de la "x" blanca */
}

/* Estilo para la animación de carga gradual */

.item .thumb .image img {
	max-width: 100%; /* Set a maximum width for the images */
	height: auto;    /* Ensure proportional scaling */
  }

.backg {
	position: relative;
	height: 550px;
	width: 550px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.1);
	transform: scale(0.7);

}

.planet {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	position: relative;
	background-color: #ff9933;
	top: 35px;
	left: 220px;
}

.r1 {
	background-color: #ffbf80;
	height: 20px;
	width: 110px;
	border-radius: 10px;
	position: relative;
	top: 60px;
	left: 85px;
}

.r2 {
	background-color: #ffbf80;
	height: 15px;
	width: 90px;
	border-radius: 6.5px;
	position: relative;
	top: 80px;
	left: 110px;
}

.r3 {
	background-color: #ffbf80;
	height: 30px;
	width: 120px;
	border-radius: 15px;
	position: relative;
	top: 78px;
	left: 50px;
}

.r4 {
	background-color: #ffbf80;
	height: 22px;
	width: 90px;
	border-radius: 11px;
	position: relative;
	top: 70px;
	left: 12px;
}

.r5 {
	background-color: rgba(204, 102, 0, 0.3);
	height: 15px;
	width: 40px;
	border-radius: 7.5px;
	position: relative;
	bottom: 50px;
	left: 70px;
}

.r6 {
	background-color: rgba(204, 102, 0, 0.3);
	height: 20px;
	width: 60px;
	border-radius: 11px;
	position: relative;
	bottom: 25px;
	left: 10px;
}

.r7 {
	background-color: rgba(204, 102, 0, 0.3);
	height: 15px;
	width: 45px;
	border-radius: 7.5px;
	position: relative;
	top: 40px;
	left: 130px;
}

.r8 {
	background-color: rgba(255, 255, 255, 0.4);
	height: 12px;
	width: 30px;
	border-radius: 7.5px;
	position: relative;
	top: 7px;
	left: 32px;
}

.shad {
	background-color: transparent;
	box-shadow: 15px 15px rgba(204, 102, 0, 0.3);
	position: relative;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	bottom: 164px;
	right: 16px;
}

.astro {
	position: relative;
	left: 131px;
	bottom: 240px;
	transform: rotate(-30deg);

}

.an {
	animation-name: flo;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	position: relative;
	bottom: 70px;
	left: 20px;

}

@keyframes flo {
	50% {
		transform: translateY(30px);
	}
}

.tank {
	background-color: #a6a6a6;
	height: 120px;
	width: 120px;
	border-radius: 10px;
	position: relative;
	left: 90px;
	top: 50px;
	transform: rotate(-30deg);
}

.helmet {
	background-color: white;
	height: 93px;
	width: 100px;
	border-radius: 45%;
	position: relative;
	left: 20px;
	z-index: 5;
}

.glass {
	background-color: #666666;
	height: 60px;
	width: 80px;
	border-top-left-radius: 60%;
	border-top-right-radius: 60%;
	border-bottom-left-radius: 40%;
	border-bottom-right-radius: 40%;
	position: relative;
	left: 10px;
	top: 7px;
}

.shine {
	background-color: rgba(166, 166, 166, 0.7);
	height: 15px;
	width: 15px;
	border-radius: 50%;
	position: relative;
	left: 10px;
	top: 15px;
}

.dress {
	background-color: #f2f2f2;
	height: 100px;
	width: 100px;
	border-radius: 10%;
	position: relative;
	bottom: 5px;
	left: 20px;

}

.handr {
	height: 26px;
	width: 75px;
	background-color: #f2f2f2;
	border-radius: 40px;
	position: relative;
	bottom: 138px;
	left: 95px;
	transform: rotate(-20deg);
}

.handl {
	height: 26px;
	width: 75px;
	background-color: #f2f2f2;
	border-radius: 40px;
	position: relative;
	bottom: 111px;
	right: 29px;
	transform: rotate(20deg);
}

.handr1 {
	height: 26px;
	width: 57px;
	background-color: #f2f2f2;
	border-radius: 26px;
	position: relative;
	bottom: 18px;
	left: 35px;
	transform: rotate(90deg);
}

.handl1 {
	height: 26px;
	width: 57px;
	background-color: #f2f2f2;
	border-radius: 26px;
	position: relative;
	bottom: 17px;
	right: 17px;
	transform: rotate(-90deg);
}

.glover {
	height: 28px;
	width: 26px;
	background-color: white;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	transform: rotate(-90deg);
	position: relative;
	bottom: 1px;
	right: 16px;
}

.glovel {
	height: 28px;
	width: 26px;
	background-color: white;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	transform: rotate(90deg);
	position: relative;
	bottom: 1px;
	left: 42px;
}

.thumbr {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: white;
	position: relative;
	right: 7px;
	top: 19px;
}

.thumbl {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: white;
	position: relative;
	left: 21px;
	top: 19px;
}

.b1 {
	background-color: tomato;
	width: 28px;
	height: 5.5px;
	border-radius: 13px;
	position: relative;
	top: 18px;
	right: 1px;
}

.b2 {
	background-color: tomato;
	width: 28px;
	height: 5.5px;
	border-radius: 13px;
	position: relative;
	top: 18px;
	right: 1px;
}

.c {
	background-color: white;
	width: 55px;
	height: 30px;
	border-radius: 8px;
	position: relative;
	top: 25px;
	left: 23px;
}

.btn11 {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: #4775ff;
	position: relative;
	left: 5px;
	top: 10px;
}

.btn22 {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: #ffd147;
	position: relative;
	left: 21px;
	bottom: 2px;
}

.btn33 {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: tomato;
	position: relative;
	bottom: 14px;
	left: 38px;
}

.btn44 {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #a6a6a6;
	position: relative;
	left: 19px;
	top: 4px;
}

.legl {
	height: 100px;
	width: 40px;
	background-color: #f2f2f2;
	position: relative;
	bottom: 68px;
	left: 5px;
	transform: rotate(20deg);
}

.legr {
	height: 100px;
	width: 40px;
	background-color: #f2f2f2;
	position: relative;
	bottom: 168px;
	left: 96px;
	transform: rotate(-20deg);
}

.bootl1 {
	background-color: white;
	width: 43px;
	height: 35px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	position: relative;
	top: 65px;
	right: 1.5px;
}

.bootr1 {
	background-color: white;
	width: 43px;
	height: 35px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	position: relative;
	top: 65px;
	right: 1.5px;
}

.bootl2 {
	background-color: tomato;
	width: 45px;
	height: 5px;
	border-radius: 21px;
	position: relative;
	top: 30px;
	right: 1.5px;
}

.bootr2 {
	background-color: tomato;
	width: 45px;
	height: 5px;
	border-radius: 21px;
	position: relative;
	top: 30px;
	right: 1.5px;
}

.pipe {
	background-color: transparent;
	height: 80px;
	width: 80px;
	border: 10px solid #4775ff;
	border-radius: 40px 0px 0px 70px;
	border-right: none;
	transform: rotate(180deg);
	position: relative;
	bottom: 330px;
	left: 130px;
}

.pipe2 {
	background-color: transparent;
	height: 90px;
	width: 42px;
	border: 10px solid #4775ff;
	border-radius: 40px 0px 0px 0px;
	border-right: none;
	transform: rotate(90deg);
	position: relative;
	border-bottom: none;
	left: 67px;
	bottom: 34px;

}

.pipe3 {
	height: 10px;
	width: 10px;
	background-color: #4775ff;
	position: relative;
	border-radius: 65%;
	bottom: 10px;
	left: 37px;
}

.s1,
.s2,
.s3,
.s4,
.s5,
.s6 {
	background-color: white;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	position: relative;
}

.s1 {
	bottom: 150px;
	left: 200px;
}

.s2 {
	top: 130px;
	left: 254px;
}

.s3 {
	bottom: 98px;
	left: 65px;
}

.s4 {
	top: 216px;
	left: 249px;
}

.s5 {
	top: 139px;
	left: 100px;
}

.s6 {
	top: 60px;
	left: 370px;
}


/* 

Moon

*/


@keyframes seq-preloader {
	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.seq-preloader {
	background: white;
	visibility: visible;
	opacity: 1;
	position: absolute;
	z-index: 9999;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.seq-preloader.seq-preloaded {
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s .5s, opacity .5s;
}

.seq-preload-indicator {
	overflow: visible;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.seq-preload-circle {
	display: inline-block;
	height: 12px;
	width: 12px;
	fill: #7a7a7a;
	opacity: 0;
	animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-2 {
	animation-delay: .15s;
}

.seq-preload-circle-3 {
	animation-delay: .3s;
}

.seq-preload-indicator-fallback {
	width: 42px;
	overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
	width: 8px;
	height: 8px;
	background-color: #f4f4f4;
	border-radius: 100%;
	opacity: 1;
	display: inline-block;
	vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
	margin-left: 3px;
	margin-right: 3px;
	width: 12px;
	height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
	width: 16px;
	height: 16px;
}


/* MAIN CSS */

@-webkit-keyframes fill {
	0% {
		width: 0%;
		height: 1px;
	}

	50% {
		width: 100%;
		height: 1px;
	}

	100% {
		width: 100%;
		height: 100%;
		background: #fff;
	}
}

@keyframes fill {
	0% {
		width: 0%;
		height: 1px;
	}

	50% {
		width: 100%;
		height: 1px;
	}

	100% {
		width: 100%;
		height: 100%;
		background: #fff;
	}
}

@-webkit-keyframes fillColour {
	0% {
		color: #fff;
	}

	50% {
		color: #fff;
	}

	100% {
		color: #333;
	}
}

@keyframes fillColour {
	0% {
		color: #fff;
	}

	50% {
		color: #fff;
	}

	100% {
		color: #333;
	}
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

html {
	overflow: hidden;
}

body {
	overflow: hidden;
	font-size: 100%;
	overflow-y: scroll; 

}

/*nav*/

nav {
	top: 10vh;
	bottom: 10vh;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 100;
	height: 80vh;
	left: 0;
	width: 20%;
	font-weight: 300;
	font-size: 1rem;
}

nav em {
	font-style: normal;
	margin-left: 5px;
	font-size: 14px;
}

nav ul li i {
	width: 25px;
}

nav ul li a {
	font-size: 18px;
}

nav .mini-logo {
	display: none;
}

nav .logo {
	margin-top: 45px;
	padding: 0px 20px;
}

nav .logo img {
	max-width: 100%;
	overflow-y: hidden;
}

nav ul {
	margin-top: 70px;
	text-align: left;
	margin-left: 40px;
	margin-right: 7%;
	list-style-type: none;
	height: 48vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

nav ul li {
	margin: 1% ;
	
}

nav a,
nav a:visited,
nav a:active {
	color: #fff;
	
}

nav a {
	text-decoration: none !important;
	font-size: 15px;
	letter-spacing: 0.5px;
	-webkit-transition: color 2s, background 1s;
	transition: color 2s, background 1s;
	padding: 20px 30px;
	position: relative;
	z-index: 0;
	display: flex;
    align-items: center;
	
}

nav a.active {
	background-color: #fff;
	color: #232323;
	
}

nav a::before {
	
	content: "";
	position: absolute;
	height: 0%;
	width: 0%;
	bottom: 0;
	left: 0;
	opacity: 1;
	z-index: -1;
}

nav a:hover {
	text-decoration: none;
	-webkit-animation: fillColour 0.7s forwards ease-in-out;
	animation: fillColour 0.7s forwards ease-in-out;
}

nav a:hover::before {
	
	-webkit-animation: fill 0.7s forwards ease-in-out;
	animation: fill 0.7s forwards ease-in-out;
	opacity: 1;
}


/* fin nav*/

.slides {
	width: 600vw;
	height: 100vh; 
	
	-webkit-transition: -webkit-transform 0.8s ease;
	transition: -webkit-transform 0.8s ease;
	transition: transform 0.8s ease;
	transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.slides .slide {
	height: 100vh;
	width: 100vw;
	float: left;
	text-align: center;
	background-size: cover;
}

.slides .slide .content {
	overflow-y: scroll;
	position: relative;
	width: 70%;
	height: 80%;
	left: 30%;
	top: 10%;
	bottom: 10%;
	background: rgba(0, 0, 0, 0.5);
}

.content::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: rgba(10, 82, 216, 0.5) transparent;
	display: none; 
}

/* Add a thumb */
.content::-webkit-scrollbar-thumb {
	background: rgba(250, 250, 250, 0.5);
}

.slides .slide:nth-child(1) {
	background-image: url(../img/constructive_bg_01.jpg);
}


.slides .slide:nth-child(2) {
	background-image: url(../img/sebastian-marx-D2otAuiSGX4-unsplash.jpg);
}

.slides .slide:nth-child(3) {
	background-image: url(../img/third_bg.jpg);
}

.slides .slide:nth-child(4) {
	background-image: url(../img/fourth_bg.jpg);
}

.slides .slide:nth-child(5) {
	background-image: url(../img/fifth_bg.jpg);
}

.slides .slide:nth-child(6) {
	background-image: url(../img/fourth_bg.jpg);
}

.slides .slide img {
	width: 100%;

}


.main-btn a:hover {
	background-color: #fff;
	color: #232323 !important;
	
}


.first-content {
	padding: 100px;
	text-align: left;
	padding-top: 13%;
}

.first-content .author-image img {
	margin-top: 9px;
	border-radius: 30px;
	max-width: 100%;
	overflow: hidden;
	float: left;
	margin-right: 35px;
}

.first-content h2 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.first-content p {
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 26px;
	margin-bottom: 20px;
}

.first-content em {
	font-style: normal;
	font-weight: 600;
}

.first-content .main-btn {
	display: inline-block;
	margin-right: 15px;
}

.first-content .main-btn a {
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	transition: all 0.5s;
}

.first-content .fb-btn {
	display: inline-block;
	
}

.first-content .fb-btn a {

	
	display: inline-block;
	background-color: #fff;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #232323;
	text-decoration: none;
	transition: all 0.5s;
}

.first-content .fb-btn a:hover {
	color: #fff;
	background-color: transparent;
}


.second-content .container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.second-content .container-fluid .col-md-6 {
	padding-right: 0px;
	padding-left: 0px;
}

.second-content .right-image img {
	max-width: 50%;
	min-width: 100%;
	overflow: hidden;
	float: right;
}

.second-content .left-content {
	padding: 60px;
	text-align: left;
}

#astro {
	padding-top: 60px;

}


#CodeCap {

	border-radius: 10px;
	padding-bottom: 10px;
	padding-top: 30px;
	width: 122%;
	/* O ajusta el porcentaje o el valor en píxeles según tus necesidades */
	max-width: none;
	/* Permite que la imagen tenga un ancho mayor que el contenedor */
	filter: brightness(1.2) contrast(1.1);
	
}

.second-content h2 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.second-content p {
	font-size: 13px;
	color: #fff;
	letter-spacing: 0.5px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 30px;
}

.second-content a {
	color: #fff;
	text-decoration: underline;
}

.second-content .main-btn a {
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
}


.third-content {
	text-align: left;
	padding: 30px;
}

.third-content .container-fluid {
	padding-right: 7.5px;
	padding-left: 7.5px;
}

.third-content .first-section .left-content {
	margin-right: 15px;
	margin-top: 12px;
}

.third-content .first-section .right-image {
	margin-left: 15px;
}

.third-content .second-section {
	margin-top: 30px;
}

.third-content .second-section .right-content {
	margin-left: 15px;
	margin-top: 12px;
}

.third-content .second-section .left-image {
	margin-right: 15px;
}

.third-content h2 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.third-content p{
	font-size: 13px;
	color: #fff;
	letter-spacing: 0.5px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 20px;
}
/* agregado para el texto tercera seccion  */
.professional-list {font-size: 13px;
	color: #fff;
	letter-spacing: 0.5px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 20px;
padding-left: 15px;}

.no-link-style{
	color: inherit; /* Toma el color del texto del elemento padre */
    text-decoration: none; /* Elimina la subrayado por defecto de los enlaces */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es un enlace clickeable */
	font-style: italic; /* Agrega estilo en cursiva */
    font-weight: bold; /* Hace el texto en negrita */
    font-size: 1.1em; /* Ajusta el tamaño del texto */
}
.no-link-style:hover {
    text-decoration: underline; /* Agrega subrayado al pasar el ratón sobre el enlace */
}
.professional-list strong{font-size: 14px;
	}


/* 
---- */
#backendimg {
	margin-top: 50px;
}
#frontimg{
	margin-top: 20px;
}







.professional-list li{font-size: 13px;
	
padding-left: 16px;}

.third-content .main-btn a {
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
}

.third-content .col-md-6 {
	margin: 0px;
	padding: 0px;
}


.fourth-content {
	padding: 5px;
}

.fourth-content .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
}

.fourth-content .container-fluid .col-md-4 {
	padding-right: 0px;
	padding-left: 0px;
}

.fourth-content .item {
	margin: 10px;
}

.fourth-content .item img {
	max-width: 100%;
	overflow: hidden;
}

.fourth-content .item .thumb {
	position: relative;
}

.fourth-content .item .hover-effect {
	text-align: left;
	position: absolute;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.95);
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s;
}

.fourth-content .item:hover .hover-effect {
	opacity: 1;
	visibility: visible;
}

.fourth-content .item .hover-effect .hover-content {
	transform: translateY(-50%);
	position: absolute;
	text-align: left;
	width: 100%;
	top: 50%;
	left: 0;
	padding: 30px;
}

.fourth-content .item .hover-effect h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 1px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 0px;
}

.fourth-content .item .hover-effect p {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	line-height: 22px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}



.fifth-content .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.fifth-content .container-fluid .col-md-6 {
	padding-left: 0px;
	padding-right: 0px;
}

.fifth-content #map {
	padding: 50px 0px 50px 50px;
}

.fifth-content #contact {
	padding: 50px 50px 50px 50px;
}

.fifth-content input {
	border-radius: 0px;
	padding-left: 15px;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	background-color: rgba(250, 250, 250, 0.15);
	outline: none;
	border: none;
	box-shadow: none;
	line-height: 40px;
	height: 40px;
	width: 100%;
	margin-bottom: 25px;
}

.fifth-content textarea {
	border-radius: 0px;
	padding-left: 15px;
	padding-top: 10px;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	background-color: rgba(250, 250, 250, 0.15);
	outline: none;
	border: none;
	box-shadow: none;
	height: 165px;
	max-height: 220px;
	width: 100%;
	max-width: 100%;
	margin-bottom: 25px;
}

.fifth-content button {
	max-width: 100%;
	width: 100%;
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	border-radius: 0px;
	transition: all 0.5s;
}

.fifth-content button:hover {
	color: #232323;
	background-color: #fff;
}

.footer .content {
	left: 30%;
	width: 70%;
	max-width: 70%;
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
}

.footer .content p {
	text-align: center;
	font-size: 13px;
	color: #fff;
	margin-bottom: 20px;
}

.footer .content p a {
	color: #aaa;
	text-decoration: none;
}

@media (max-width: 1500px){.fourth-content .item .hover-effect .hover-content {
	padding: 10px; /* Ajustar el espacio en pantallas pequeñas */
}

.fourth-content .item .hover-effect p {
	display: none; /* Ocultar el párrafo en pantallas pequeñas */
}

}

/* REPONSIVE */

@media (max-width: 991px){
	/* astro */
	 
		.backg {
			height: 550px;
			width: 550px;
			transform: scale(0.6);
		}

		.planet {
			height: 200px;
			width: 200px;
			top: 20px;
			left: 150px;
		}

		.pipe {
			display: none;
			/* Hide elements that may not fit well on smaller screens */
		}

		/* fin astro resposive media */

		nav ul {
			margin-left: 25px;
		}

		.first-content {
			text-align: center;
			padding: 50px;
		}

		.first-content .author-image img {
			max-width: 220px;
			float: none;
			margin-right: 0px;
			margin-bottom: 30px;
		}

		.third-content .first-section {
			border-bottom: 1px solid rgba(250, 250, 250, 0.3);
			padding-bottom: 45px;
			margin-bottom: 45px;
		}

		.third-content .first-section .left-content {
			margin-right: 0px;
			margin-bottom: 30px;
		}

		.third-content .first-section .right-image {
			margin-left: 0px;
		}

		.third-content .second-section .right-content {
			margin-left: 0px;
			margin-top: 30px;
		}


		.third-content .second-section .left-image {
			margin-right: 0px;
		}

		.fifth-content #map {
			padding: 30px 30px 30px 30px;
		}

		.fifth-content #contact {
			padding: 30px 30px 30px 30px;
		}
		.fourth-content .item .hover-effect .hover-content {
			padding: 10px; /* Ajustar el espacio en pantallas pequeñas */
		}
	
		.fourth-content .item .hover-effect p {
			display: none; /* Ocultar el párrafo en pantallas pequeñas */
		}


	}

	@media (max-width: 749px) {

		.backg {
			height: 400px;
			width: 400px;
			transform: scale(0.5);
		}

		.planet {
			height: 150px;
			width: 150px;
			top: 20px;
			left: 150px;
		}

		nav {
			width: 15vh;
		}

		nav .logo {
			display: none;
		}

		nav .mini-logo {
			margin-top: 60px;
			display: block;
		}

		nav ul {
			text-align: center;
			margin-left: 5px;
		}


		nav ul li em {
			display: none;
		}

		nav ul li i {
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
		}

		.first-content {
			padding: 30px 5px;
		}

		.first-content .main-btn {
			display: inline-block;
			margin-right: 0px;
			margin-bottom: 15px;
		}

		.second-content .left-content {
			padding: 30px;
			text-align: left;
		}

		.second-content .right-content {

			text-align: center;
			align-items: center;

		}


		.fourth-content .item .hover-effect h2 {
			font-size: 15px;
		}


		.fifth-content #map {
			padding: 15px 15px 15px 15px;
		}

		.fifth-content #contact {
			padding: 15px 15px 15px 15px;
		}
		
		.first-content .fb-btn a{
			display: block; /* Apilar en pantallas pequeñas */
			margin-right: 0; /* Eliminar espacio entre los botones apilados */
			margin-bottom: 5px; /* Añadir espacio entre las filas de botones */
			width: 100px; /* Establecer un ancho fijo para todos los botones */
            width: 100px; /* Establecer un ancho fijo para todos los botones */
    height: 40px; /* Establecer una altura fija para todos los botones */
    
		}

		.fourth-content .item .hover-effect .hover-content {
			padding: 10px; /* Ajustar el espacio en pantallas pequeñas */
		}
	
		.fourth-content .item .hover-effect p {
			display: none; /* Ocultar el párrafo en pantallas pequeñas */
		}
		


	}

	@media(max-width: 450px) {
		nav ul {
			margin-top: 30px;
		}

		nav ul li {
			margin: 10px 0px;
		}

		nav a {
			padding: 15px 2 0px;
		}
		
		
		
	
	

	}

	/*detalles*/

	



	.buttons {
		min-width: 70px;
		display: flex;
		justify-content: center;
		padding-bottom: 10px;
		
		
		
	  }
	  
	  .buttons a {
		text-decoration: none;
		font-size: 20px;
		width: 30px;
		height: 30px;
		line-height:30px;
		text-align: center;
		background: #222425;
		color: #f1f1f1;
		border-radius: 50%;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
		transition: all .4s ease-in-out;
	  }
	  
	  .buttons a:hover {
		transform: scale(1.2);
		
	  }

	  .footer .buttons a {
		margin-right: 10px; /* Puedes ajustar este valor según tus preferencias */
	}

	.footer .content p {
		margin-bottom: 10px; /* Puedes ajustar este valor según tus preferencias */
	}

/* mode light  */

	nav.dark-mode {
		 background: rgba(10, 82, 216, 0.5); /*(173, 216, 230, 0.5   | 72, 177, 212, 0.5  */
		color: #ffffff;
	  }
	  
	  nav.dark-mode a,
	  nav.dark-mode a:visited,
	  nav.dark-mode a:active {
		color: #000000;
	  }
	  
	  nav.dark-mode a.active {
		background-color: #fcfcfc;
		color: #141313;
	  }
	  
	  nav.dark-mode a::before {
		background-color: #361f1f; /* Cambia el color del borde antes del enlace */
	  }
	  /* Agrega estilos específicos para el modo claro */


	  /* Agrega estilos específicos para el modo claro en la sección de slides */
.slides.dark-mode {
	/* Cambia el fondo de la sección en modo claro */
	background: rgba(255, 255, 255, 0.5);
	.professional-list li{
		color: #000000;
	  }

	.col-md-12 input,textarea{
	background-color: #000000 transparent;
	
	}

	.main-btn a:hover {
		background-color: #000000;
		color: #ffffff !important;
		
	}

	.first-content h2 {
		
		border-bottom: 2px solid #000000;
	}

	.second-content h2 {
		border-bottom: 2px solid #000000;
	}
	
    .third-content h2 {
		
		border-bottom: 2px solid #000000;
		
	}

	.fourth-content .item .hover-effect p {
		color: white;
	}

	

}
  
  /* Cambia el fondo del contenido en modo claro */
  .slides.dark-mode .content {
	background: rgba(10, 82, 216, 0.5);
  }
  
  /* Cambia el color del texto en modo claro */
  .slides.dark-mode h2,
  .slides.dark-mode p,
  .slides.dark-mode em {
	color: #000000;
  }
  
  /* Cambia el color del scrollbar en modo claro */
  .slides.dark-mode .content::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.5);
  }
  
  /* Cambia el color de fondo del botón principal en modo claro */
  .slides.dark-mode .main-btn a {
	background-color: #fff;
	color: #232323 !important;
  }
  
  /* Cambia el color de fondo y texto del botón fb-btn en modo claro */
  .slides.dark-mode .fb-btn a {
	background-color: #fff;
	border: 2px solid #fff;
	color: #232323;
  }
  
  /* Cambia el color del texto del botón fb-btn en modo claro al hacer hover */
  .slides.dark-mode .fb-btn a:hover {
	color: #000000 ; 
	background-color: transparent;
  }
  

    
  /* boton modos */
  



@media only screen and (max-width: 600px) {
    .container .box{
        width: 100%;
    }
}
/* main class name */
.gm-btn{
    background: none;
    border: none;
    padding: 5px 15px;
    font-size: 16px;
    line-height: 24px;
    width: 300;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    outline: none;
}
.gb-cutter::before,
.gb-shutter::before,
.gb-shutter::after,
.gb-bordered::before,
.gb-split::before
{
    content: "";
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}
/* cutter */

.gb-cutter{
    border: 2px solid var(--gb-51);
    border-radius: 5px;
    box-shadow: 3px 3px 0 var(--gb-51);
    font-size: 1.125rem;
    font-weight: 700;
    overflow: hidden;
    color: var(--gb-51);
}
.gb-cutter::before{
    top: 100%;
    left: 0;
    width: 150%;
    aspect-ratio: 1;
    background: var(--gb-51);
    transform: translate(50%,0%) rotateZ(-45deg);
}
.gb-cutter:hover::before{
    transform: translate(-20%,-60%) rotateZ(-45deg);
}
.gb-cutter:hover{
    box-shadow: 0 0 0;
    color: #eee;
}

/* shutter */
.gb-shutter{
    border: 2px solid var(--gb-51);
    border-radius: 5px;
    box-shadow: 3px 3px 0 var(--gb-51);
    font-size: 1.125rem;
    font-weight: 700;
    overflow: hidden;
    color: var(--gb-51);
}
.gb-shutter::after, .gb-shutter::before{
    top: 0;
    left: 0;
    width: 130%;
    aspect-ratio: 1;
    background: var(--gb-51);
}
.gb-shutter::after{
    transform: translate(-100%,-80%) rotate(30deg);
}
.gb-shutter::before{
    transform: translate(100%,30%) rotate(30deg);
}
.gb-shutter:hover::after{
    transform: translate(-50%,-50%) rotate(30deg);
}
.gb-shutter:hover::before{
    transform: translate(30%,-10%) rotate(30deg);
}
.gb-shutter:hover{
    color: #eee;
    box-shadow: 0 0 0;
}

/* bordered */
.gb-bordered{
    background: var(--gb-52);
    color: #eee;
    border-radius: 5px;
}
.gb-bordered::before{
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid var(--gb-52);
    border-radius: 8px;
}
.gb-bordered:hover::before{
    width: calc(100% + 4px);
    height: calc(100% + 5px);
}
.gb-bordered:hover{
    background: linear-gradient(to left, var(--gb-52),var(--gb-52d));
}

/* gb-split */
.gb-split{
    border: 1px solid #6a5acd;
    color: #6a5acd;
    border-radius: 5px;
    font-size: 1.125rem;
}
.gb-split::before{
    width: 100%;
    height: 0;
    background: #6a5acd;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.gb-split:hover::before{
    height: 100%;
}
.gb-split:hover{
    color: #eee;
}
/* Root */

:root{
    --gb-51: #111827;
    --gb-52: #2196f3;
    --gb-52d: #0e71c1;
}

@media(max-width: 450px) {
	nav ul {
		margin-top: 80px;
	}

	nav ul li {
		margin: 10px 5px;
	}

	nav a {
		padding: 15px 2 0px;
	}
	
	.footer .content {
        display: none;
    }

	/* .buttons a {
		font-size: 11px; 
	} */
}
@media (max-width: 320px) {
    nav ul {
        margin-top: 5px; /* Reducir aún más el espacio en la parte superior */
    }

	nav box{
        padding: 5px;
    }
    nav ul li {
        margin: 5px 0; /* Reducir aún más el espacio entre elementos de la lista */
    }

    nav a {
        padding: 8px 4px; /* Reducir aún más el relleno de los enlaces */
    }

	.footer .content {
        display: none;
    }


}